<footer class="footer">
  <div class="container">
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </span>
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </span>
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </span>


    <div class="pull-right">
      <span>
        <a href="<%= privacy_policy_path %>">Privacy Policy</a>
      </span>
      <span>
        <a href="<%= programming_path %>#passion-cover">Programming</a>
      </span>
      <span>
        <a href="<%= dancing_path %>#passion-cover">Dancing</a>
      </span>
      <span>
        <a href="<%= photography_path %>#passion-cover">Photography</a>
      </span>
      <span>
        <a href="<%= boxing_path %>#passion-cover">Boxing</a>
      </span>
      <span>
        <a href="<%= qajava_path %>#passion-cover">QAJava</a>
      </span>
      <span>
        <a href="<%= trainers_path %>">Trainers</a>
      </span>
      <% unless current_user %>
        <span>
          <a href="Javascript:void(0)" data-toggle="modal" data-target="#signInModal">Login</a>
        </span>
      <% end %>
    </div>
  </div>
</footer>
