<nav id="main-nav" class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag 'logo.png' %>
    </a>
    <% unless current_user %>
      <button type="button" name="button" class="btn btn-green btn-sm btn-join" data-toggle="modal" data-target="#signUpModal" style="margin-top: -10px;">
        Join
      </button>
    <% end %>
    <button class="navbar-toggler x" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse transition" id="navbarSupportedContent">
      <ul class="mr-auto">
      </ul>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <% all_categories.each do |category| %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle <%= white_link? ? 'white-link' : '' %>" href="Javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= category.name.titleize %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% category.passions.each do |passion| %>
                  <%= link_to passion.title.titleize, passion_path(passion), class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link underline <%= white_link? ? 'white-link' : '' %>" href="<%= nlbc_find_a_trainer_path %>">Find a Trainer <span class="underline"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline <%= white_link? ? 'white-link' : '' %>" href="<%= nlbc_teach_path %>">Teach</a>
          </li>
          <li class="nav-item">
            <a class="nav-link underline <%= white_link? ? 'white-link' : '' %>" href="<%= nlbc_enterprise_path %>">Enterprise</a>
          </li>
          <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle <%= white_link? ? 'white-link' : '' %>" href="Javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'My Profile', edit_user_registration_path, class: 'dropdown-item' %>
                <% if is_teacher?(current_user) %>
                  <%= link_to 'Teacher profile', teachers_teacher_information_path, class: 'dropdown-item' %>
                <% end %>
                <% if current_user.role == 'admin' %>
                  <%= link_to 'Feedbacks', feedbacks_path, class: 'dropdown-item' %>
                  <%= link_to 'Team generator', new_team_path, class: 'dropdown-item' %>
                  <%= link_to 'Teams', teams_path, class: 'dropdown-item' %>
                  <%= link_to 'Delete users', nlbc_remove_users_path, class: 'dropdown-item' %>
                <% end %>
                <%= link_to 'Add new feedback', new_feedback_path, class: 'dropdown-item' %>
                <%= link_to('Logout', destroy_user_session_path,
                                      class: 'dropdown-item', title: 'Logout', :method => :delete) %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="Javascript:void(0)" data-toggle="modal" data-target="#signInModal">Login</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
