<nav id="main-nav" class="navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag 'logo.png' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="mr-auto">
      </ul>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= programming_path %>#passion-cover">Programming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= dancing_path %>#passion-cover">Dancing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= photography_path %>#passion-cover">Photography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= boxing_path %>#passion-cover">Boxing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= qajava_path %>#passion-cover">QA Java</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= trainers_path %>">Trainers</a>
          </li>
          <% if current_user %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="Javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'My Profile', edit_user_registration_path, class: 'dropdown-item' %>
                <% if current_user.role_id == 2 %>
                  <%= link_to 'Feedbacks', feedbacks_path, class: 'dropdown-item' %>
                  <%= link_to 'Team generator', new_team_path, class: 'dropdown-item' %>
                <% end %>
                <%= link_to 'Add new feedback', new_feedback_path, class: 'dropdown-item' %>
                <%= link_to('Logout', destroy_user_session_path,
                                      class: 'dropdown-item', title: 'Logout', :method => :delete) %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_session_path %>">Login</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
