<div id="passion-cover" class="jumbotron" style="background-image: url('<%= asset_path 'boxing.jpg' %>')">
  <div class="overlay"></div>
  <div class="row justify-content-md-center d-flex h-100">
    <div class="col-md-8 content align-self-center">
      <div align="center" class="main-text">Boxing bootcamp</div>
      <div align="center" class="secondary-text">Learn AND Teach!</div>
      <div align="center" class="paragraph">FOLLOW-ALONG  SELF-PRACTISE TEAM-CHALLENGE</div>
      <div align="center">
        <%= link_to "Sign up now!", new_user_registration_path, class: 'btn btn-primary' %>
        <%= link_to "Find private trainer", '#', class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div align="center" class="challenges">Challenges</div>
  <p align="center" class="paragraph">A structured approach makes all the difference</p>
</div>

<div class="container">
  <div class="row justify-content-md-left">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 1</h4>
          <h6 class="card-subtitle">Jab + Cross</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 2</h4>
          <h6 class="card-subtitle">Hook</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 3</h4>
          <h6 class="card-subtitle">Uppercut</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 4</h4>
          <h6 class="card-subtitle">2 punch combis</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-left">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 5</h4>
          <h6 class="card-subtitle">Block</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 6</h4>
          <h6 class="card-subtitle">Slip a jab</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 7</h4>
          <h6 class="card-subtitle">Shoulder roll</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 8</h4>
          <h6 class="card-subtitle">Defensive combis</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-left">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 9</h4>
          <h6 class="card-subtitle">3 punch combo</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 10</h4>
          <h6 class="card-subtitle">4 punch combo</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 11</h4>
          <h6 class="card-subtitle">5 punch combo</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'boxing/panda.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 12</h4>
          <h6 class="card-subtitle">Defence offence combi</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>
  </div>
</div>
