<div id="passion-cover" class="jumbotron" style="background-image: url('<%= asset_path 'photography.jpg' %>')">
  <div class="overlay"></div>
  <div class="row justify-content-md-center d-flex h-100">
    <div class="col-md-8 content align-self-center">
      <div align="center" class="main-text">Photography Bootcamp</div>
      <div align="center" class="secondary-text">Learn AND Teach!</div>
      <div align="center" class="paragraph">FOLLOW-ALONG  SELF-PRACTISE TEAM-CHALLENGE</div>
      <div align="center">
        <%= link_to "Sign up now!", new_user_registration_path, class: 'btn btn-primary' %>
        <%= link_to "Find private trainer", '#', class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div align="center" class="challenges">Challenges</div>
  <p align="center" class="paragraph">A structured approach makes all the difference</p>
</div>

<div class="container">
  <div class="row justify-content-md-left">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/aperture.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 1</h4>
          <h6 class="card-subtitle">Aperture</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/shutter_speed.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 2</h4>
          <h6 class="card-subtitle">Shutter speed</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/iso.png', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 3</h4>
          <h6 class="card-subtitle">ISO</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/exposure.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 4</h4>
          <h6 class="card-subtitle">Exposure combination</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-left">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/digitalsensor_sizes.png', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 5</h4>
          <h6 class="card-subtitle">Image sensors</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/lenses.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 6</h4>
          <h6 class="card-subtitle">Lenses</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/composition.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 7</h4>
          <h6 class="card-subtitle">Composition</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/depth_of_field.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 8</h4>
          <h6 class="card-subtitle">Depth of field</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-left">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/basic_flash.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 9</h4>
          <h6 class="card-subtitle">Basic Flash</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/fill_flash.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 10</h4>
          <h6 class="card-subtitle">Fill flash</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/multiple_flash.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 11</h4>
          <h6 class="card-subtitle">Multiple flash</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="card text-center" style="margin-bottom: 20px;">
        <%= image_tag 'photography/photographing_people.jpg', class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Challenge 12</h4>
          <h6 class="card-subtitle">Photographing people</h6>
          <p class="card-text">We never use harsh chemicals that might harm you or the environment. We even donate 3% of our earnings to help save the endangered red panda.</p>
          <a href="<%= trainers_path %>" class="btn btn-primary">1:1 training</a>
        </div>
      </div>
    </div>
  </div>
</div>
