<div id="enterprise-cover" class="jumbotron">
  <div class="overlay"></div>
  <div class="row justify-content-md-center d-flex h-100">
    <div class="col-md-8 content align-self-center">
      <div align="center" class="enterprise-text">Put your Talent first</div>
      <div align="center" class="enterprise-second">The most fun and efficient bootcamps for companies </div>
      <div class="row justify-content-md-center">
        <a align="center" href="#get-in-touch" class="btn btn-primary">Request a Bootcamp </a>
      </div>
    </div>
  </div>
</div>
<div id="logos" class="logos">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag 'logos/alten.png', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/future_group.jpeg', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/next.png', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/praegus.png', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/qoppo.png', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/wannaflex.png', class: 'logo-image' %>
      </div>
    </div>
  </div>
</div>

<div id="table-comparison" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Nlbootcamps</th>
            <th>Competitors</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>affordable pricing</td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td><i class="fa fa-times" aria-hidden="true"></i> double the price</td>
          </tr>
          <tr>
            <td>2 trainers</td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td><i class="fa fa-times" aria-hidden="true"></i> only 1 trainer</td>
          </tr>
          <tr>
            <td>satisfaction guarantee</td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td>updated courses</td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td>interactive</td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td><i class="fa fa-times" aria-hidden="true"></i> talking/listening model</td>
          </tr>
          <tr>
            <td>flexible</td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td><i class="fa fa-times" aria-hidden="true"></i> only daytime</td>
          </tr>
          <tr>
            <td>custom branding</td>
            <td><i class="fa fa-check" aria-hidden="true"></i></td>
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="get-in-touch" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h1 class="title">Get in touch to schedule a demo</h1>

      <div class="card">
        <div class="subtitle">* Required field</div>
        <div class="card-body">
          <%= form_for @contact, :url => url_for(controller: ContactsController.controller_name, action: 'create') do |f| %>
          <%= f.hidden_field :req_type, value: 'enterprise' %>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-form-label">FIRST NAME *</label>
                <%= f.text_field :first_name, class: 'form-control', placeholder: 'Jane', :required => true %>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label">LAST NAME *</label>
                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Smith', :required => true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">WORK EMAIL *</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <%= f.text_field :email, class: 'form-control', placeholder: 'Jane@company.com', :required => true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">WORK PHONE *</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <%= f.text_field :work_phone, class: 'form-control', placeholder: '+1 234 567 890', :required => true %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label class="col-form-label">ORGANIZATION NAME *</label>
                <div class="input-group mb-2 mb-sm-0">
                  <div class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></div>
                  <%= f.text_field :organization_name, class: 'form-control', placeholder: 'Company', :required => true %>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label">employees interested  *</label>
                <%= f.select :employees_number, ["1-10","10-99","100+"], { include_blank: true }, class:"form-control", :required => true %>
            </div>
            <div class="form-group">
              <label class="col-form-label">Comments/Questions</label>
              <%= f.text_area :comments, class: 'form-control', placeholder: "What your organization's needs and goals? How can we help you?", rows: 4, cols: 90 %>
            </div>
            <button type="submit" name="button" class="btn btn-primary">Submit</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
