<div id="enterprise-cover" class="jumbotron">
  <div class="overlay"></div>
  <div class="row justify-content-md-center d-flex h-100">
    <div class="col-md-8 content align-self-center">
      <div align="center" class="enterprise-text">Put your Talent first</div>
      <div align="center" class="enterprise-second">The most fun and efficient bootcamps for companies </div>
      <div class="row justify-content-md-center">
        <a align="center" href="#get-in-touch" class="btn btn-primary">Request a Bootcamp </a>
      </div>
    </div>
  </div>
</div>
<div id="logos" class="logos">
  <div class="container">
    <div class="row">
      <div class="col">
        <%= image_tag 'logos/alten.png', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/future_group.jpeg', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/next.png', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/praegus.png', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/qoppo.png', class: 'logo-image' %>
      </div>
      <div class="col">
        <%= image_tag 'logos/wannaflex.png', class: 'logo-image' %>
      </div>
    </div>
  </div>
</div>

<div id="enterprise-page" class="margin-top-70">
  <div class="row">
    <div class="col image-col satisfaction-image"></div>
    <div class="col first-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Satisfaction guarantee</div>
          <p> We believe in what we do and in our system.
            So we offer what nobody else can offer a 100%
            satisfaction guarantee. If students are not satisfied
            with the bootcamps, we refund 100% of the money. We do this to
            remove any doubt you may have before trying our bootcamps. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col second-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">2 trainers</div>
          <p> We offer 2 trainers instead of 1 for every bootcamp.
            Our bootcamps are fast paced and designed to not get stuck in
            the challenges. For this, personal attention is very important
            and this can only be offered when there are 2 trainers present.  </p>
        </div>
      </div>
    </div>
    <div class="col image-col two-trainers-image"></div>
  </div>

  <div class="row">
    <div class="col image-col updates-image"></div>
    <div class="col third-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Updates courses</div>
          <p> We have a open sourced decentralised learning system.
            This means that all teachers can add/update and remove content
            from our courses. But we do this under close inspection and testing
            to make sure students get the best and up to date material.  </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col fourth-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Interactive</div>
          <p>Unlike the traditional listening model of teachers speaks,
            students listen. We have a constant interactivity without
            removing deep focus. This helps to stay emotional aware and
            interested during the training and also makes it a fun and
            enjoyable experience.  </p>
        </div>
      </div>
    </div>
    <div class="col image-col interactive-image"></div>
  </div>

  <div class="row">
    <div class="col image-col flexible-image"></div>
    <div class="col fifth-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Flexible </div>
          <p>Time is the most valuable thing we have and we treat
            it that way. Different people have time on different moment.
            We teach during the day, in evenings and even in weekend.
            We make sure that flexibility is part of our platform. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col sixth-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Custom Branding</div>
          <p> All companies need to do 3 things well. Product,
            finance and marketing. We try to help our partners in all areas.
            We help to think about how to get their name and values
            out as much as possible.   </p>
        </div>
      </div>
    </div>
    <div class="col image-col custom-branding-image"></div>
  </div>

  <div class="row">
    <div class="col image-col pricing-image"></div>
    <div class="col seventh-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Affordable pricing</div>
          <p>Its a risky thing to mention but we do it anyway,
            because this is an important part. We never sacrifice
            quality in any way, but to achieve our goals we believe
            taking small amounts and delivering high value to as many as
            possible and doing it with a big community who cares about
            sharing knowledge. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="get-in-touch" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h1 class="title">Get in touch to schedule a demo</h1>

      <div class="card">
        <div class="subtitle">* Required field</div>
        <div class="card-body">
          <%= form_for @contact, :url => url_for(controller: ContactsController.controller_name, action: 'create') do |f| %>
          <%= f.hidden_field :req_type, value: 'enterprise' %>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-form-label">FIRST NAME *</label>
                <%= f.text_field :first_name, class: 'form-control', placeholder: 'Jane', :required => true %>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label">LAST NAME *</label>
                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Smith', :required => true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">WORK EMAIL *</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <%= f.text_field :email, class: 'form-control', placeholder: 'Jane@company.com', :required => true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">WORK PHONE *</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <%= f.text_field :work_phone, class: 'form-control', placeholder: '+1 234 567 890', :required => true %>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label class="col-form-label">ORGANIZATION NAME *</label>
                <div class="input-group mb-2 mb-sm-0">
                  <div class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></div>
                  <%= f.text_field :organization_name, class: 'form-control', placeholder: 'Company', :required => true %>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label">employees interested  *</label>
                <%= f.select :employees_number, ["1-10","10-99","100+"], { include_blank: true }, class:"form-control", :required => true %>
            </div>
            <div class="form-group">
              <label class="col-form-label">Comments/Questions</label>
              <%= f.text_area :comments, class: 'form-control', placeholder: "What your organization's needs and goals? How can we help you?", rows: 4, cols: 90 %>
            </div>
            <button type="submit" name="button" class="btn btn-primary">Submit</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
