<div id="enterprise-cover" class="jumbotron">
  <div class="overlay"></div>
  <div class="row justify-content-md-center d-flex h-100">
    <div class="col-md-8 content align-self-center">
      <div align="center" class="enterprise-text">Give 1on1 support</div>
      <div align="center" class="enterprise-second">Make your passion your profession </div>
      <div class="row justify-content-md-center">
        <a align="center" href="#get-in-touch" class="btn btn-primary">Apply now </a>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <blockquote class="blockquote" style="margin-top: 20px;">
    <p class="mb-0">The art of teaching is the art of assisting discovery</p>
  </blockquote>
</div>

<div id="teach-cards">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card pop" style="width: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 money-card">
                  <svg x="0px" y="0px" width="66px" height="66px" viewBox="0 0 24 24" style="fill: none; stroke: white; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.3;"><g><path d="M23.84,11.607c0-2.561-2.083-4.644-4.644-4.644c-0.111,0-0.214,0.025-0.323,0.033c0.033-0.237,0.053-0.48,0.053-0.715 c0-2.561-2.083-4.644-4.644-4.644S9.638,3.721,9.638,6.281c0,0.791,0.217,1.525,0.567,2.177L5.507,7.674 c-0.001,0-0.001,0-0.001-0.001c-0.001,0-0.001,0-0.002,0L2.608,7.189c-0.13-0.021-0.265,0.01-0.373,0.086 C2.127,7.352,2.055,7.469,2.033,7.6l-0.484,2.896c0,0.001,0,0.001-0.001,0.001c0,0,0,0.001,0,0.002l-0.83,4.967 c0,0,0,0.001,0,0.001s0,0.001,0,0.001l-0.484,2.897c-0.045,0.272,0.138,0.529,0.411,0.575l17.851,2.982 c0.027,0.005,0.056,0.007,0.083,0.007c0.239,0,0.45-0.172,0.492-0.416l0.909-5.341C22.167,15.796,23.84,13.899,23.84,11.607z M14.282,2.638c2.009,0,3.644,1.634,3.644,3.644c0,0.306-0.047,0.627-0.114,0.917c-1.325,0.418-2.399,1.397-2.916,2.675 c-0.2,0.031-0.409,0.052-0.614,0.052c-2.009,0-3.644-1.635-3.644-3.644S12.273,2.638,14.282,2.638z M18.671,17.903 c-1.607-0.059-3.025,0.926-3.504,2.448L4.152,18.511c0.015-0.735-0.192-1.453-0.627-2.062c-0.435-0.61-1.046-1.039-1.746-1.263 l0.68-4.071c0.022,0,0.045,0.006,0.068,0.006c1.483,0,2.806-0.97,3.262-2.386l5.274,0.881c0.836,0.807,1.968,1.31,3.219,1.31 c0.113,0,0.227-0.011,0.341-0.019c-0.035,0.23-0.071,0.461-0.071,0.7c0,2.478,1.956,4.491,4.403,4.619L18.671,17.903z M4.795,8.569 c-0.351,0.896-1.21,1.507-2.169,1.548l0.31-1.858L4.795,8.569z M1.614,16.177c0.438,0.17,0.818,0.462,1.098,0.853 c0.28,0.391,0.432,0.846,0.451,1.315l-1.859-0.311L1.614,16.177z M18.169,20.853l-2.015-0.337c0.367-0.99,1.282-1.622,2.35-1.63 L18.169,20.853z M19.196,15.251c-2.009,0-3.644-1.635-3.644-3.644c0-2.009,1.635-3.644,3.644-3.644s3.644,1.634,3.644,3.644 C22.84,13.616,21.205,15.251,19.196,15.251z"></path><path d="M11.514,11.549l0.107-0.566c0.051-0.271-0.127-0.533-0.398-0.584c-0.269-0.05-0.533,0.127-0.584,0.398l-0.107,0.567 c-0.917,0.033-1.709,0.627-1.87,1.484c-0.191,1.013,0.624,1.636,1.216,1.985l-0.329,1.742c-0.306-0.168-0.621-0.414-0.831-0.681 c-0.171-0.216-0.484-0.253-0.702-0.083c-0.217,0.171-0.254,0.485-0.083,0.702c0.363,0.461,0.903,0.863,1.424,1.084l-0.107,0.567 c-0.051,0.271,0.127,0.533,0.398,0.584c0.031,0.006,0.062,0.009,0.093,0.009c0.236,0,0.446-0.167,0.491-0.407l0.107-0.57 c0.356-0.013,0.702-0.102,1.003-0.279c0.464-0.273,0.772-0.7,0.866-1.203c0.194-1.027-0.657-1.667-1.215-1.989l0.326-1.731 c0.164,0.113,0.295,0.259,0.366,0.431c0.106,0.255,0.398,0.378,0.654,0.27c0.255-0.106,0.376-0.398,0.27-0.654 C12.412,12.149,12.011,11.765,11.514,11.549z M9.644,13.034c0.061-0.322,0.34-0.55,0.692-0.633l-0.258,1.368 C9.65,13.451,9.608,13.228,9.644,13.034z M11.226,16.113c-0.041,0.216-0.18,0.402-0.391,0.527 c-0.091,0.054-0.196,0.081-0.301,0.106l0.259-1.375C11.232,15.699,11.258,15.944,11.226,16.113z"></path><path d="M19.497,11.137c-0.721-0.226-0.817-0.402-0.817-0.544c0-0.282,0.306-0.521,0.668-0.521c0.251,0,0.479,0.11,0.596,0.288 c0.151,0.232,0.463,0.295,0.691,0.145c0.231-0.151,0.296-0.461,0.146-0.692c-0.211-0.322-0.549-0.552-0.933-0.663V9.014 c0-0.276-0.224-0.5-0.5-0.5s-0.5,0.224-0.5,0.5V9.15c-0.675,0.195-1.168,0.765-1.168,1.443c0,1.021,1.063,1.355,1.527,1.501 c0.809,0.236,0.809,0.466,0.809,0.541c0,0.282-0.306,0.521-0.668,0.521c-0.277,0-0.725-0.192-0.996-0.429 c-0.209-0.182-0.524-0.159-0.705,0.049c-0.182,0.208-0.159,0.523,0.049,0.705c0.319,0.278,0.747,0.491,1.152,0.597v0.136 c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5v-0.136c0.675-0.195,1.168-0.765,1.168-1.443 C21.016,11.581,19.866,11.244,19.497,11.137z"></path><path d="M13.859,8.711v0.047c0,0.276,0.224,0.5,0.5,0.5s0.5-0.224,0.5-0.5V8.711c0.675-0.195,1.168-0.765,1.168-1.444 c0-1.055-1.15-1.391-1.519-1.498c-0.72-0.225-0.816-0.401-0.816-0.544c0-0.282,0.306-0.521,0.667-0.521 c0.251,0,0.479,0.11,0.596,0.288c0.153,0.232,0.464,0.294,0.692,0.145c0.231-0.151,0.296-0.461,0.145-0.692 c-0.211-0.322-0.548-0.552-0.933-0.663V3.646c0-0.276-0.224-0.5-0.5-0.5s-0.5,0.224-0.5,0.5v0.136 c-0.674,0.195-1.167,0.765-1.167,1.443c0,1.023,1.063,1.356,1.526,1.501c0.809,0.236,0.809,0.465,0.809,0.541 c0,0.283-0.306,0.521-0.668,0.521c-0.276,0-0.723-0.192-0.995-0.429c-0.209-0.181-0.524-0.16-0.705,0.049 c-0.182,0.208-0.16,0.524,0.049,0.705C13.027,8.391,13.454,8.604,13.859,8.711z"></path></g></svg>
                </div>
                <div class="col-sm-9">
                  <div class="row justify-content-md-left d-flex h-100">
                    <div class="col-md-8 content align-self-center">
                      <h1 class="title">
                        Earn Money
                      </h1>
                      <h1 class="text">
                        Set your own rates and cash out your earnings anytime. 
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card pop" style="width: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 time-card">
                  <svg x="0px" y="0px" width="66px" height="66px" viewBox="0 0 24 24" style="fill: none; stroke: white; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.3;"><g><path d="M12,0.248c-6.48,0-11.753,5.272-11.753,11.753c0,6.48,5.272,11.752,11.753,11.752s11.753-5.272,11.753-11.752 C23.753,5.521,18.48,0.248,12,0.248z M12,22.754c-5.929,0-10.753-4.823-10.753-10.752S6.071,1.248,12,1.248 c5.929,0,10.753,4.824,10.753,10.753S17.929,22.754,12,22.754z"></path><path d="M12.331,12.896c0.085,0,0.17-0.021,0.248-0.066l3.481-1.989c0.24-0.137,0.323-0.442,0.187-0.682 c-0.139-0.241-0.446-0.323-0.683-0.186l-3.15,1.8l-5.457-5.42C6.761,6.158,6.444,6.16,6.25,6.355 C6.055,6.551,6.056,6.867,6.251,7.062l5.727,5.689C12.074,12.846,12.202,12.896,12.331,12.896z"></path><path d="M20.215,10.535c-0.724,0-1.312,0.588-1.312,1.312s0.589,1.312,1.312,1.312s1.312-0.588,1.312-1.312 S20.938,10.535,20.215,10.535z M20.215,12.159c-0.172,0-0.312-0.14-0.312-0.312s0.141-0.312,0.312-0.312s0.312,0.14,0.312,0.312 S20.387,12.159,20.215,12.159z"></path><path d="M5.097,11.847c0-0.724-0.588-1.312-1.312-1.312c-0.723,0-1.312,0.588-1.312,1.312s0.588,1.312,1.312,1.312 C4.509,13.159,5.097,12.571,5.097,11.847z M3.785,12.159c-0.172,0-0.312-0.14-0.312-0.312s0.14-0.312,0.312-0.312 s0.312,0.14,0.312,0.312S3.957,12.159,3.785,12.159z"></path><path d="M11.992,4.982c0.724,0,1.312-0.588,1.312-1.312s-0.588-1.312-1.312-1.312S10.68,2.946,10.68,3.67 S11.268,4.982,11.992,4.982z M11.992,3.358c0.172,0,0.312,0.14,0.312,0.312s-0.14,0.312-0.312,0.312S11.68,3.842,11.68,3.67 S11.82,3.358,11.992,3.358z"></path><path d="M11.992,18.772c-0.724,0-1.312,0.588-1.312,1.312s0.588,1.312,1.312,1.312s1.312-0.589,1.312-1.312 S12.715,18.772,11.992,18.772z M11.992,20.396c-0.172,0-0.312-0.141-0.312-0.312s0.14-0.312,0.312-0.312s0.312,0.14,0.312,0.312 S12.164,20.396,11.992,20.396z"></path><path d="M7.84,5.29c0.13,0,0.26-0.05,0.35-0.15c0.09-0.1,0.14-0.22,0.14-0.35S8.28,4.54,8.19,4.44C8,4.25,7.67,4.25,7.48,4.44 c-0.1,0.09-0.15,0.22-0.15,0.35s0.05,0.25,0.15,0.35C7.57,5.24,7.7,5.29,7.84,5.29z"></path><path d="M7.48,18.61c-0.09,0.1-0.14,0.229-0.14,0.359s0.05,0.261,0.15,0.36c0.09,0.09,0.22,0.14,0.34,0.14 c0.13,0,0.26-0.05,0.36-0.149c0.09-0.09,0.15-0.221,0.15-0.351s-0.06-0.26-0.15-0.35C8,18.429,7.67,18.429,7.48,18.61z"></path><path d="M15.71,4.39c-0.09,0.09-0.141,0.22-0.141,0.35c0,0.14,0.051,0.26,0.15,0.36c0.09,0.09,0.22,0.14,0.35,0.14 c0.131,0,0.25-0.05,0.36-0.15c0.09-0.09,0.14-0.22,0.14-0.35c0-0.13-0.05-0.25-0.149-0.35C16.229,4.2,15.899,4.2,15.71,4.39z"></path><path d="M15.71,18.67c-0.09,0.09-0.141,0.22-0.141,0.351c0,0.119,0.051,0.25,0.15,0.359c0.1,0.09,0.22,0.141,0.35,0.141 c0.131,0,0.261-0.061,0.351-0.15s0.149-0.22,0.149-0.35c0-0.141-0.05-0.271-0.149-0.36C16.24,18.48,15.92,18.46,15.71,18.67z"></path><path d="M19.1,8.24c0.13,0,0.26-0.05,0.36-0.15C19.55,8,19.6,7.87,19.6,7.74c0-0.13-0.05-0.26-0.14-0.35 c-0.19-0.19-0.53-0.19-0.71,0c-0.09,0.09-0.15,0.22-0.15,0.35c0,0.13,0.05,0.26,0.15,0.36C18.85,8.19,18.97,8.24,19.1,8.24z"></path><path d="M18.75,15.679C18.66,15.77,18.6,15.9,18.6,16.03s0.061,0.26,0.15,0.359c0.1,0.091,0.22,0.141,0.35,0.141 s0.26-0.05,0.36-0.15c0.09-0.09,0.14-0.22,0.14-0.35s-0.05-0.25-0.149-0.351C19.27,15.5,18.939,15.49,18.75,15.679z"></path><path d="M4.48,7.47C4.39,7.56,4.33,7.69,4.33,7.82c0,0.13,0.06,0.26,0.15,0.36c0.1,0.09,0.23,0.14,0.35,0.14 c0.13,0,0.26-0.05,0.36-0.15c0.09-0.09,0.14-0.22,0.14-0.35c0-0.13-0.05-0.26-0.15-0.36C4.99,7.28,4.68,7.27,4.48,7.47z"></path><path d="M4.48,15.599c-0.09,0.091-0.15,0.221-0.15,0.36c0,0.13,0.06,0.25,0.16,0.36c0.09,0.09,0.22,0.14,0.34,0.14 c0.13,0,0.26-0.05,0.36-0.149c0.09-0.101,0.14-0.221,0.14-0.351s-0.05-0.26-0.14-0.36C5,15.42,4.67,15.42,4.48,15.599z"></path></g></svg>
                </div>
                <div class="col-sm-9">
                  <div class="row justify-content-md-left d-flex h-100">
                    <div class="col-md-8 content align-self-center">
                      <h1 class="title">
                        Teach anytime
                      </h1>
                      <h1 class="text">
                        Adjust your personal availability anytime on your calendar.
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card pop" style="width: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 work-card">
                  <svg x="0px" y="0px" width="66px" height="66px" viewBox="0 0 24 24" style="fill: none; stroke: white; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.3;"><g><path d="M18.983,10.003V8.066c0-3.856-3.138-6.994-6.995-6.994c-3.856,0-6.994,3.138-6.994,6.994v1.937 C3.884,10.069,3,10.867,3,11.849v4.288c0,1.024,0.96,1.858,2.14,1.858h1.332c0.276,0,0.5-0.224,0.5-0.5V10.49 c0-0.276-0.224-0.5-0.5-0.5H5.995V8.066c0-3.305,2.689-5.994,5.994-5.994s5.995,2.689,5.995,5.994V9.99h-0.482 c-0.276,0-0.5,0.224-0.5,0.5v7.005c0,0.276,0.224,0.5,0.5,0.5h1.332c0.083,0,0.162-0.013,0.242-0.021 c-0.283,2.312-1.525,3.223-4.527,3.394c-0.198-0.363-0.57-0.62-1.012-0.62h-1.424c-0.644,0-1.167,0.523-1.167,1.167 s0.523,1.167,1.167,1.167h1.424c0.48,0,0.892-0.292,1.071-0.707c3.137-0.173,5.259-1.122,5.515-4.764 c0.513-0.34,0.851-0.871,0.851-1.473v-4.288C20.973,10.869,20.092,10.072,18.983,10.003z M5.972,16.995H5.14 c-0.618,0-1.14-0.394-1.14-0.858v-4.288c0-0.465,0.522-0.859,1.14-0.859h0.832V16.995z M13.536,22.082h-1.424 c-0.092,0-0.167-0.075-0.167-0.167s0.075-0.167,0.167-0.167h1.424c0.092,0,0.167,0.075,0.167,0.167S13.628,22.082,13.536,22.082z M18.001,16.995V10.99h0.832c0.618,0,1.14,0.394,1.14,0.859v4.288c0,0.465-0.521,0.858-1.14,0.858H18.001z"></path></g></svg>
                </div>
                <div class="col-sm-9">
                  <div class="row justify-content-md-left d-flex h-100">
                    <div class="col-md-8 content align-self-center">
                      <h1 class="title">
                        Work anywhere
                      </h1>
                      <h1 class="text">
                        Teach at home or any other convenient location of your choice.
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card pop" style="width: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 flexibility-card">
                  <svg x="0px" y="0px" width="66px" height="66px" viewBox="0 0 24 24" style="fill: none; stroke: white; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.5;"><g><path d="M21.107,0H2.737C1.151,0,0,1.163,0,2.765v18.43C0,22.82,1.151,24,2.737,24h18.37C22.729,24,24,22.767,24,21.195V2.765 C24,1.189,22.757,0,21.107,0z M2.737,1h18.37C22.187,1,23,1.759,23,2.765V7H1V2.765C1,1.709,1.698,1,2.737,1z M10,15v-3h4v3H10z M14,16v3h-4v-3H14z M9,15H5v-3h4V15z M15,12h4v3h-4V12z M15,11V8h4v3H15z M14,11h-4V8h4V11z M9,11H5V8h4V11z M4,11H1V8h3V11z M4,12v3H1v-3H4z M4,16v3H1v-3H4z M5,16h4v3H5V16z M9,20v3H5v-3H9z M10,20h4v3h-4V20z M15,20h4v3h-4V20z M15,19v-3h4v3H15z M20,16 h3v3h-3V16z M20,15v-3h3v3H20z M20,11V8h3v3H20z M1,21.195V20h3v3H2.737C1.714,23,1,22.258,1,21.195z M21.107,23H20v-3h3v1.195 C23,22.224,22.187,23,21.107,23z"></path><path d="M7.642,4.897c0.735,0,1.333-0.598,1.333-1.333c0-0.734-0.598-1.332-1.333-1.332c-0.734,0-1.332,0.598-1.332,1.332 C6.31,4.299,6.907,4.897,7.642,4.897z M7.642,3.232c0.184,0,0.333,0.149,0.333,0.332c0,0.184-0.149,0.333-0.333,0.333 c-0.183,0-0.332-0.149-0.332-0.333C7.31,3.381,7.458,3.232,7.642,3.232z"></path><path d="M16.358,4.897c0.734,0,1.332-0.598,1.332-1.333c0-0.734-0.598-1.332-1.332-1.332s-1.332,0.598-1.332,1.332 C15.026,4.299,15.624,4.897,16.358,4.897z M16.358,3.232c0.183,0,0.332,0.149,0.332,0.332c0,0.184-0.149,0.333-0.332,0.333 s-0.332-0.149-0.332-0.333C16.026,3.381,16.176,3.232,16.358,3.232z"></path></g></svg>
                </div>
                <div class="col-sm-9">
                  <div class="row justify-content-md-left d-flex h-100">
                    <div class="col-md-8 content align-self-center">
                      <h1 class="title">
                        Flexibility
                      </h1>
                      <h1 class="text">
                        Teach in any capacity: full-time, part-time or just occasionally.
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card pop" style="width: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 international-card">
                  <svg x="0px" y="0px" width="66px" height="66px" viewBox="0 0 24 24" style="fill: none; stroke: white; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.3;"><g><path d="M11.986,0.27c-6.495,0-11.778,5.284-11.778,11.778s5.284,11.778,11.778,11.778c6.494,0,11.778-5.283,11.778-11.778 S18.48,0.27,11.986,0.27z M11.986,22.826c-5.943,0-10.778-4.835-10.778-10.778c0-5.943,4.835-10.778,10.778-10.778 s10.778,4.835,10.778,10.778C22.765,17.991,17.93,22.826,11.986,22.826z"></path><path d="M21.113,7.937c-0.275,0.015-0.487,0.25-0.472,0.526c0.023,0.425-0.448,0.922-1.326,1.397 c-1.34,0.726-1.132,1.317-0.63,2.747c0.379,1.081-1.711,4.583-2.639,5.318c-0.12-0.253-0.228-0.883-0.237-1.438 c0-1.959,0-4.918-2.604-5.911c-0.73-0.279-1.725-0.638-2.312-0.766c-0.039-0.008-0.143-0.031-0.171-0.268 c-0.045-0.387,0.185-0.935,0.599-1.133c0.231-0.11,0.386-0.091,0.55-0.073c0.17,0.02,0.457,0.053,0.688-0.17 c0.27-0.262,0.267-0.652,0.194-1.48c-0.055-0.637-0.271-1.113-0.641-1.413c-0.579-0.47-1.346-0.377-1.905-0.31 c-0.154,0.019-0.297,0.037-0.417,0.037c-1.112,0-1.29,0.833-1.678,2.657L8.039,8.014C8.035,8.029,8.032,8.042,8.029,8.055 c-0.033-0.04-0.064-0.081-0.085-0.117C7.871,7.746,7.768,6.733,7.717,5.907c-0.014-0.221-0.17-0.406-0.386-0.456 C7.119,5.403,6.894,5.498,6.784,5.69L5.991,7.078C5.966,7.123,5.96,7.125,5.949,7.175c-0.001,0.004-0.167,0.361-1.158,0.71 C4.665,7.93,4.594,7.937,4.577,7.948C4.465,7.682,4.71,6.634,5.099,5.74c0.11-0.253-0.006-0.548-0.259-0.658 c-0.254-0.11-0.548,0.005-0.658,0.259C3.855,6.091,3.169,7.913,3.85,8.644C4.052,8.861,4.439,9.07,5.125,8.829 C6.349,8.396,6.74,7.865,6.865,7.58c0.058,0.421,0.124,0.698,0.197,0.826C7.146,8.554,7.597,9.288,8.24,9.184 C8.631,9.123,8.893,8.8,9.016,8.224l0.076-0.357c0.368-1.727,0.443-1.865,0.7-1.865c0.154,0,0.337-0.021,0.536-0.044 c0.425-0.052,0.907-0.109,1.155,0.093c0.151,0.123,0.244,0.366,0.275,0.724c0.022,0.256,0.032,0.432,0.036,0.552 c-0.228-0.011-0.538,0.007-0.904,0.183C10.021,7.926,9.644,8.929,9.73,9.661c0.069,0.592,0.425,1.014,0.952,1.128 c0.411,0.089,1.181,0.346,2.168,0.723c1.812,0.69,1.959,2.663,1.959,4.984c0.01,0.596,0.107,2.021,0.807,2.392 c0.086,0.046,0.219,0.096,0.385,0.096c0.153,0,0.335-0.043,0.534-0.173c0.927-0.604,3.729-4.728,3.094-6.534 c-0.428-1.217-0.428-1.217,0.163-1.537c1.273-0.689,1.895-1.474,1.848-2.331C21.625,8.134,21.424,7.914,21.113,7.937z"></path><path d="M6.437,13.394C6.1,13.266,5.638,13.09,5.509,12.962c-0.362-0.363-0.635-0.526-0.898-0.683 c-0.174-0.104-0.363-0.217-0.612-0.414c-0.215-0.171-0.475-0.209-0.711-0.107c-0.189,0.082-0.766,0.33-1.01,3.1 c-0.024,0.275,0.179,0.518,0.454,0.542c0.28,0.024,0.518-0.18,0.542-0.454c0.073-0.826,0.23-1.68,0.376-2.093 c0.167,0.117,0.311,0.203,0.447,0.285c0.24,0.144,0.43,0.257,0.705,0.532c0.279,0.279,0.765,0.465,1.278,0.66 c0.22,0.084,0.547,0.209,0.75,0.315l-0.119,0.104c-0.722,0.613-1.111,1.033-2.068,3.84c-0.089,0.261,0.05,0.545,0.312,0.635 c0.053,0.018,0.108,0.026,0.161,0.026c0.208,0,0.402-0.131,0.473-0.339c0.911-2.67,1.216-2.93,1.769-3.4 c0.085-0.072,0.176-0.149,0.273-0.236c0.325-0.293,0.35-0.589,0.313-0.785C7.842,13.93,7.191,13.682,6.437,13.394z"></path></g></svg>
                </div>
                <div class="col-sm-9">
                  <div class="row justify-content-md-left d-flex h-100">
                    <div class="col-md-8 content align-self-center">
                      <h1 class="title">
                        International community
                      </h1>
                      <h1 class="text">
                        Teach national and international students while traveling.
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card pop" style="width: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 guy-card">
                  <svg x="0px" y="0px" width="66px" height="66px" viewBox="0 0 24 24" style="fill: none; stroke: white; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.3;"><g><path d="M3.696,9.918C3.659,9.553,3.375,9.259,3,9.151V7.4c0-0.276-0.224-0.5-0.5-0.5S2,7.124,2,7.4v1.735 C1.548,9.22,1.201,9.556,1.208,9.91L1,11.1C1,11.596,1.449,12,2,12h1c0.551,0,1-0.404,1-0.9c0-0.044-0.006-0.088-0.018-0.131 L3.696,9.918z M2.026,10.993L2.2,10c0,0.063-0.029,0.1,0,0.1h0l0.512,0.006c0.001,0.008,0.003,0.017,0.006,0.025l0.237,0.868 L2.026,10.993z"></path><path d="M23.31,4.012l-11.1-2.5c-0.072-0.017-0.147-0.017-0.22,0l-11.1,2.5c-0.017,0.004-0.031,0.014-0.047,0.02 C0.819,4.039,0.797,4.048,0.776,4.059C0.742,4.076,0.712,4.097,0.683,4.121c-0.017,0.015-0.035,0.028-0.05,0.044 c-0.028,0.031-0.05,0.066-0.069,0.103c-0.009,0.016-0.02,0.03-0.027,0.047C0.515,4.37,0.501,4.429,0.5,4.491 c0,0.002,0.001,0.003,0.001,0.005C0.501,4.497,0.5,4.498,0.5,4.5c0,0.009,0.005,0.017,0.005,0.026 c0.003,0.053,0.012,0.104,0.031,0.151c0.008,0.02,0.019,0.037,0.029,0.056C0.584,4.767,0.604,4.799,0.63,4.828 c0.016,0.018,0.032,0.032,0.05,0.047C0.708,4.9,0.737,4.92,0.771,4.937c0.022,0.011,0.042,0.021,0.066,0.03 C0.849,4.971,0.86,4.98,0.874,4.984l4.699,1.228l-0.449,7.093c-0.037,0.012-0.072,0.016-0.109,0.031 c-0.112,0.044-0.193,0.129-0.247,0.227C4.354,13.89,4.1,14.371,4.1,14.9c0,0.814,0.516,1.461,1.256,1.646 C5.912,19.718,9.447,22.6,12,22.6c2.668,0,6.193-2.805,6.657-6.058C19.391,16.353,19.9,15.71,19.9,14.9 c0-0.529-0.254-1.01-0.668-1.337c-0.054-0.098-0.135-0.183-0.247-0.227c-0.142-0.057-0.281-0.092-0.416-0.113l-0.21-3.228 c0.05-0.119,0.055-0.257,0.002-0.385c-0.007-0.018-0.021-0.029-0.03-0.045l-0.209-3.221l5.203-1.36 c0.224-0.059,0.378-0.262,0.374-0.492C23.696,4.26,23.535,4.063,23.31,4.012z M17.576,13.346c-0.16,0.066-0.301,0.151-0.427,0.24 C16.813,12.664,15.937,12,14.9,12c-0.881,0-1.645,0.483-2.062,1.192C12.592,13.012,12.3,12.9,12,12.9 c-0.316,0-0.609,0.1-0.851,0.268C10.728,12.471,9.971,12,9.1,12c-1.036,0-1.913,0.664-2.248,1.586 c-0.201-0.142-0.443-0.269-0.722-0.336l0.181-2.853C7.959,11.058,9.85,11.4,12.1,11.4c2.304,0,3.849-0.338,5.293-0.867 L17.576,13.346z M16.3,14.4c0,0.771-0.628,1.399-1.399,1.399c-0.772,0-1.4-0.628-1.4-1.399c0-0.772,0.628-1.4,1.4-1.4 C15.672,13,16.3,13.628,16.3,14.4z M10.5,14.4c0,0.771-0.628,1.399-1.4,1.399S7.7,15.172,7.7,14.4c0-0.772,0.628-1.4,1.4-1.4 S10.5,13.628,10.5,14.4z M18.2,15.6c-0.265,0-0.483,0.206-0.499,0.47C17.516,19.123,14.119,21.6,12,21.6 c-1.999,0-5.42-2.538-5.702-5.547C6.273,15.797,6.058,15.6,5.8,15.6c-0.425,0-0.7-0.274-0.7-0.7c0-0.276,0.158-0.521,0.423-0.653 c0.015-0.007,0.024-0.021,0.037-0.029c0.528-0.097,0.901,0.335,0.947,0.391c0.061,0.077,0.142,0.123,0.229,0.154 C6.913,15.913,7.901,16.8,9.1,16.8c1.323,0,2.4-1.076,2.4-2.399c0-0.309,0.26-0.5,0.5-0.5c0.224,0,0.5,0.275,0.5,0.5 c0,1.323,1.077,2.399,2.4,2.399c1.2,0,2.187-0.887,2.363-2.038c0.086-0.03,0.167-0.075,0.228-0.151 c0.046-0.056,0.419-0.488,0.95-0.391c0.013,0.008,0.022,0.021,0.036,0.028C18.742,14.38,18.9,14.624,18.9,14.9 C18.9,15.326,18.626,15.6,18.2,15.6z M17.325,9.489C15.897,10.04,14.406,10.4,12.1,10.4c-2.26,0-4.129-0.352-5.724-1.049 l0.182-2.882l5.415,1.415C12.015,7.895,12.058,7.9,12.1,7.9s0.085-0.005,0.126-0.016l4.911-1.283L17.325,9.489z M12.1,6.884 L6.366,5.385C6.296,5.341,6.22,5.307,6.132,5.301C6.112,5.3,6.095,5.308,6.076,5.309L4.891,5H11.6c0.276,0,0.5-0.224,0.5-0.5 S11.876,4,11.6,4H5.496L12.1,2.512l8.985,2.023L12.1,6.884z"></path><path d="M13.047,17.946c-0.349,0.349-0.682,0.505-1.079,0.521c-0.61-0.008-1.09-0.495-1.104-0.51 c-0.188-0.2-0.503-0.21-0.705-0.022c-0.202,0.188-0.212,0.505-0.024,0.706c0.031,0.033,0.765,0.808,1.81,0.825 c0.013,0.001,0.026,0.001,0.039,0.001c0.636,0,1.231-0.273,1.771-0.813c0.195-0.195,0.195-0.512,0-0.707 S13.242,17.751,13.047,17.946z"></path><path d="M8.6,14.6c0,0.276,0.224,0.5,0.5,0.5h0.1c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H9.1 C8.824,14.1,8.6,14.324,8.6,14.6z"></path><path d="M14.8,14.1c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5H14.9c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H14.8z"></path></g></svg>
                </div>
                <div class="col-sm-9">
                  <div class="row justify-content-md-left d-flex h-100">
                    <div class="col-md-8 content align-self-center">
                      <h1 class="title">
                        Gain followers
                      </h1>
                      <h1 class="text">
                        Build up a community of followers while building your own brand and identity.
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card pop" style="width: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 guy-card">
                  <svg x="0px" y="0px" width="66px" height="66px" viewBox="0 0 24 24" style="fill: none; stroke: white; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.3;"><g><path d="M3.696,9.918C3.659,9.553,3.375,9.259,3,9.151V7.4c0-0.276-0.224-0.5-0.5-0.5S2,7.124,2,7.4v1.735 C1.548,9.22,1.201,9.556,1.208,9.91L1,11.1C1,11.596,1.449,12,2,12h1c0.551,0,1-0.404,1-0.9c0-0.044-0.006-0.088-0.018-0.131 L3.696,9.918z M2.026,10.993L2.2,10c0,0.063-0.029,0.1,0,0.1h0l0.512,0.006c0.001,0.008,0.003,0.017,0.006,0.025l0.237,0.868 L2.026,10.993z"></path><path d="M23.31,4.012l-11.1-2.5c-0.072-0.017-0.147-0.017-0.22,0l-11.1,2.5c-0.017,0.004-0.031,0.014-0.047,0.02 C0.819,4.039,0.797,4.048,0.776,4.059C0.742,4.076,0.712,4.097,0.683,4.121c-0.017,0.015-0.035,0.028-0.05,0.044 c-0.028,0.031-0.05,0.066-0.069,0.103c-0.009,0.016-0.02,0.03-0.027,0.047C0.515,4.37,0.501,4.429,0.5,4.491 c0,0.002,0.001,0.003,0.001,0.005C0.501,4.497,0.5,4.498,0.5,4.5c0,0.009,0.005,0.017,0.005,0.026 c0.003,0.053,0.012,0.104,0.031,0.151c0.008,0.02,0.019,0.037,0.029,0.056C0.584,4.767,0.604,4.799,0.63,4.828 c0.016,0.018,0.032,0.032,0.05,0.047C0.708,4.9,0.737,4.92,0.771,4.937c0.022,0.011,0.042,0.021,0.066,0.03 C0.849,4.971,0.86,4.98,0.874,4.984l4.699,1.228l-0.449,7.093c-0.037,0.012-0.072,0.016-0.109,0.031 c-0.112,0.044-0.193,0.129-0.247,0.227C4.354,13.89,4.1,14.371,4.1,14.9c0,0.814,0.516,1.461,1.256,1.646 C5.912,19.718,9.447,22.6,12,22.6c2.668,0,6.193-2.805,6.657-6.058C19.391,16.353,19.9,15.71,19.9,14.9 c0-0.529-0.254-1.01-0.668-1.337c-0.054-0.098-0.135-0.183-0.247-0.227c-0.142-0.057-0.281-0.092-0.416-0.113l-0.21-3.228 c0.05-0.119,0.055-0.257,0.002-0.385c-0.007-0.018-0.021-0.029-0.03-0.045l-0.209-3.221l5.203-1.36 c0.224-0.059,0.378-0.262,0.374-0.492C23.696,4.26,23.535,4.063,23.31,4.012z M17.576,13.346c-0.16,0.066-0.301,0.151-0.427,0.24 C16.813,12.664,15.937,12,14.9,12c-0.881,0-1.645,0.483-2.062,1.192C12.592,13.012,12.3,12.9,12,12.9 c-0.316,0-0.609,0.1-0.851,0.268C10.728,12.471,9.971,12,9.1,12c-1.036,0-1.913,0.664-2.248,1.586 c-0.201-0.142-0.443-0.269-0.722-0.336l0.181-2.853C7.959,11.058,9.85,11.4,12.1,11.4c2.304,0,3.849-0.338,5.293-0.867 L17.576,13.346z M16.3,14.4c0,0.771-0.628,1.399-1.399,1.399c-0.772,0-1.4-0.628-1.4-1.399c0-0.772,0.628-1.4,1.4-1.4 C15.672,13,16.3,13.628,16.3,14.4z M10.5,14.4c0,0.771-0.628,1.399-1.4,1.399S7.7,15.172,7.7,14.4c0-0.772,0.628-1.4,1.4-1.4 S10.5,13.628,10.5,14.4z M18.2,15.6c-0.265,0-0.483,0.206-0.499,0.47C17.516,19.123,14.119,21.6,12,21.6 c-1.999,0-5.42-2.538-5.702-5.547C6.273,15.797,6.058,15.6,5.8,15.6c-0.425,0-0.7-0.274-0.7-0.7c0-0.276,0.158-0.521,0.423-0.653 c0.015-0.007,0.024-0.021,0.037-0.029c0.528-0.097,0.901,0.335,0.947,0.391c0.061,0.077,0.142,0.123,0.229,0.154 C6.913,15.913,7.901,16.8,9.1,16.8c1.323,0,2.4-1.076,2.4-2.399c0-0.309,0.26-0.5,0.5-0.5c0.224,0,0.5,0.275,0.5,0.5 c0,1.323,1.077,2.399,2.4,2.399c1.2,0,2.187-0.887,2.363-2.038c0.086-0.03,0.167-0.075,0.228-0.151 c0.046-0.056,0.419-0.488,0.95-0.391c0.013,0.008,0.022,0.021,0.036,0.028C18.742,14.38,18.9,14.624,18.9,14.9 C18.9,15.326,18.626,15.6,18.2,15.6z M17.325,9.489C15.897,10.04,14.406,10.4,12.1,10.4c-2.26,0-4.129-0.352-5.724-1.049 l0.182-2.882l5.415,1.415C12.015,7.895,12.058,7.9,12.1,7.9s0.085-0.005,0.126-0.016l4.911-1.283L17.325,9.489z M12.1,6.884 L6.366,5.385C6.296,5.341,6.22,5.307,6.132,5.301C6.112,5.3,6.095,5.308,6.076,5.309L4.891,5H11.6c0.276,0,0.5-0.224,0.5-0.5 S11.876,4,11.6,4H5.496L12.1,2.512l8.985,2.023L12.1,6.884z"></path><path d="M13.047,17.946c-0.349,0.349-0.682,0.505-1.079,0.521c-0.61-0.008-1.09-0.495-1.104-0.51 c-0.188-0.2-0.503-0.21-0.705-0.022c-0.202,0.188-0.212,0.505-0.024,0.706c0.031,0.033,0.765,0.808,1.81,0.825 c0.013,0.001,0.026,0.001,0.039,0.001c0.636,0,1.231-0.273,1.771-0.813c0.195-0.195,0.195-0.512,0-0.707 S13.242,17.751,13.047,17.946z"></path><path d="M8.6,14.6c0,0.276,0.224,0.5,0.5,0.5h0.1c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H9.1 C8.824,14.1,8.6,14.324,8.6,14.6z"></path><path d="M14.8,14.1c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5H14.9c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H14.8z"></path></g></svg>
                </div>
                <div class="col-sm-9">
                  <div class="row justify-content-md-left d-flex h-100">
                    <div class="col-md-8 content align-self-center">
                      <h1 class="title">
                        Become super teacher
                      </h1>
                      <h1 class="text">
                        Get compensated for every new teacher that exists because of you.
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card pop" style="width: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 guy-card">
                  <svg x="0px" y="0px" width="66px" height="66px" viewBox="0 0 24 24" style="fill: none; stroke: white; stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.3;"><g><path d="M3.696,9.918C3.659,9.553,3.375,9.259,3,9.151V7.4c0-0.276-0.224-0.5-0.5-0.5S2,7.124,2,7.4v1.735 C1.548,9.22,1.201,9.556,1.208,9.91L1,11.1C1,11.596,1.449,12,2,12h1c0.551,0,1-0.404,1-0.9c0-0.044-0.006-0.088-0.018-0.131 L3.696,9.918z M2.026,10.993L2.2,10c0,0.063-0.029,0.1,0,0.1h0l0.512,0.006c0.001,0.008,0.003,0.017,0.006,0.025l0.237,0.868 L2.026,10.993z"></path><path d="M23.31,4.012l-11.1-2.5c-0.072-0.017-0.147-0.017-0.22,0l-11.1,2.5c-0.017,0.004-0.031,0.014-0.047,0.02 C0.819,4.039,0.797,4.048,0.776,4.059C0.742,4.076,0.712,4.097,0.683,4.121c-0.017,0.015-0.035,0.028-0.05,0.044 c-0.028,0.031-0.05,0.066-0.069,0.103c-0.009,0.016-0.02,0.03-0.027,0.047C0.515,4.37,0.501,4.429,0.5,4.491 c0,0.002,0.001,0.003,0.001,0.005C0.501,4.497,0.5,4.498,0.5,4.5c0,0.009,0.005,0.017,0.005,0.026 c0.003,0.053,0.012,0.104,0.031,0.151c0.008,0.02,0.019,0.037,0.029,0.056C0.584,4.767,0.604,4.799,0.63,4.828 c0.016,0.018,0.032,0.032,0.05,0.047C0.708,4.9,0.737,4.92,0.771,4.937c0.022,0.011,0.042,0.021,0.066,0.03 C0.849,4.971,0.86,4.98,0.874,4.984l4.699,1.228l-0.449,7.093c-0.037,0.012-0.072,0.016-0.109,0.031 c-0.112,0.044-0.193,0.129-0.247,0.227C4.354,13.89,4.1,14.371,4.1,14.9c0,0.814,0.516,1.461,1.256,1.646 C5.912,19.718,9.447,22.6,12,22.6c2.668,0,6.193-2.805,6.657-6.058C19.391,16.353,19.9,15.71,19.9,14.9 c0-0.529-0.254-1.01-0.668-1.337c-0.054-0.098-0.135-0.183-0.247-0.227c-0.142-0.057-0.281-0.092-0.416-0.113l-0.21-3.228 c0.05-0.119,0.055-0.257,0.002-0.385c-0.007-0.018-0.021-0.029-0.03-0.045l-0.209-3.221l5.203-1.36 c0.224-0.059,0.378-0.262,0.374-0.492C23.696,4.26,23.535,4.063,23.31,4.012z M17.576,13.346c-0.16,0.066-0.301,0.151-0.427,0.24 C16.813,12.664,15.937,12,14.9,12c-0.881,0-1.645,0.483-2.062,1.192C12.592,13.012,12.3,12.9,12,12.9 c-0.316,0-0.609,0.1-0.851,0.268C10.728,12.471,9.971,12,9.1,12c-1.036,0-1.913,0.664-2.248,1.586 c-0.201-0.142-0.443-0.269-0.722-0.336l0.181-2.853C7.959,11.058,9.85,11.4,12.1,11.4c2.304,0,3.849-0.338,5.293-0.867 L17.576,13.346z M16.3,14.4c0,0.771-0.628,1.399-1.399,1.399c-0.772,0-1.4-0.628-1.4-1.399c0-0.772,0.628-1.4,1.4-1.4 C15.672,13,16.3,13.628,16.3,14.4z M10.5,14.4c0,0.771-0.628,1.399-1.4,1.399S7.7,15.172,7.7,14.4c0-0.772,0.628-1.4,1.4-1.4 S10.5,13.628,10.5,14.4z M18.2,15.6c-0.265,0-0.483,0.206-0.499,0.47C17.516,19.123,14.119,21.6,12,21.6 c-1.999,0-5.42-2.538-5.702-5.547C6.273,15.797,6.058,15.6,5.8,15.6c-0.425,0-0.7-0.274-0.7-0.7c0-0.276,0.158-0.521,0.423-0.653 c0.015-0.007,0.024-0.021,0.037-0.029c0.528-0.097,0.901,0.335,0.947,0.391c0.061,0.077,0.142,0.123,0.229,0.154 C6.913,15.913,7.901,16.8,9.1,16.8c1.323,0,2.4-1.076,2.4-2.399c0-0.309,0.26-0.5,0.5-0.5c0.224,0,0.5,0.275,0.5,0.5 c0,1.323,1.077,2.399,2.4,2.399c1.2,0,2.187-0.887,2.363-2.038c0.086-0.03,0.167-0.075,0.228-0.151 c0.046-0.056,0.419-0.488,0.95-0.391c0.013,0.008,0.022,0.021,0.036,0.028C18.742,14.38,18.9,14.624,18.9,14.9 C18.9,15.326,18.626,15.6,18.2,15.6z M17.325,9.489C15.897,10.04,14.406,10.4,12.1,10.4c-2.26,0-4.129-0.352-5.724-1.049 l0.182-2.882l5.415,1.415C12.015,7.895,12.058,7.9,12.1,7.9s0.085-0.005,0.126-0.016l4.911-1.283L17.325,9.489z M12.1,6.884 L6.366,5.385C6.296,5.341,6.22,5.307,6.132,5.301C6.112,5.3,6.095,5.308,6.076,5.309L4.891,5H11.6c0.276,0,0.5-0.224,0.5-0.5 S11.876,4,11.6,4H5.496L12.1,2.512l8.985,2.023L12.1,6.884z"></path><path d="M13.047,17.946c-0.349,0.349-0.682,0.505-1.079,0.521c-0.61-0.008-1.09-0.495-1.104-0.51 c-0.188-0.2-0.503-0.21-0.705-0.022c-0.202,0.188-0.212,0.505-0.024,0.706c0.031,0.033,0.765,0.808,1.81,0.825 c0.013,0.001,0.026,0.001,0.039,0.001c0.636,0,1.231-0.273,1.771-0.813c0.195-0.195,0.195-0.512,0-0.707 S13.242,17.751,13.047,17.946z"></path><path d="M8.6,14.6c0,0.276,0.224,0.5,0.5,0.5h0.1c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H9.1 C8.824,14.1,8.6,14.324,8.6,14.6z"></path><path d="M14.8,14.1c-0.276,0-0.5,0.224-0.5,0.5s0.224,0.5,0.5,0.5H14.9c0.276,0,0.5-0.224,0.5-0.5s-0.224-0.5-0.5-0.5H14.8z"></path></g></svg>
                </div>
                <div class="col-sm-9">
                  <div class="row justify-content-md-left d-flex h-100">
                    <div class="col-md-8 content align-self-center">
                      <h1 class="title">
                        Access and improve training material 
                      </h1>
                      <h1 class="text">
                        Get instant access to the material and work together with fellow teachers to improve it.
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'faq' %>
</div>
<div id="get-in-touch" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h1 class="title">Apply now</h1>

      <div class="card">
        <div class="subtitle">* Required field</div>
        <div class="card-body">
          <%= form_for @contact, :url => url_for(controller: ContactsController.controller_name, action: 'create') do |f| %>
          <%= f.hidden_field :req_type, value: 'trainer' %>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="col-form-label">FIRST NAME *</label>
                <%= f.text_field :first_name, class: 'form-control', placeholder: 'Jane', :required => true %>
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label">LAST NAME *</label>
                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Smith', :required => true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">EMAIL *</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <%= f.text_field :email, class: 'form-control', placeholder: 'Jane@company.com', :required => true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">PHONE *</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <%= f.text_field :work_phone, class: 'form-control', placeholder: '+1 234 567 890', :required => true %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">PASSION *</label>
              <div class="input-group mb-2 mb-sm-0">
                <div class="input-group-addon"><i class="fa fa-book" aria-hidden="true"></i></div>
                <%= f.text_field :passion, class: 'form-control', placeholder: 'Programming', :required => true %>
              </div>
            </div>
            <div class="form-row">
            <div class="form-group">
              <label class="col-form-label">Comments/Questions</label>
              <%= f.text_area :comments, class: 'form-control', placeholder: "Do not hesitate to ask us about anything.", rows: 4, cols: 90 %>
            </div>
            <button type="submit" name="button" class="btn btn-primary">Submit</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
