<div id="passion-cover" class="jumbotron" style="background-image: url('<%= @passion.image.url %>')">
  <div class="overlay"></div>
  <div class="row justify-content-md-center d-flex h-100">
    <div class="col-md-8 content align-self-center">
      <div align="center" class="main-text"><%= @passion.title.capitalize %> Bootcamp</div>
      <div align="center" class="secondary-text">Learn AND Teach!</div>
      <div align="center" class="paragraph">FOLLOW-ALONG  SELF-PRACTISE TEAM-CHALLENGE</div>
      <div align="center">
        <%= link_to "Sign up now!", new_user_registration_path, class: 'btn btn-primary' %>
        <%= link_to "Find private trainer", '#', class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div align="center" class="challenges">Challenges</div>
  <p align="center" class="paragraph">A structured approach makes all the difference</p>
</div>

<div class="container">
  <div class="row justify-content-md-left">
    <% @passion.challenges.order(:number).each do |challenge| %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="card text-center" style="margin-bottom: 20px;">
          <%= image_tag (challenge.image.present? ? challenge.image.url : 'logo.png'), class: 'card-img-top card-img-top-programming' %>
          <div class="card-body">
            <h4 class="card-title">Challenge <%= challenge.number %></h4>
            <h6 class="card-subtitle"><%= challenge.title %></h6>
            <p class="card-text"><%= truncate challenge.description, length: 85 %></p>
            <a href="<%= nlbc_trainers_path %>" class="btn btn-primary">1:1 training</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
