<%= form_tag charges_path do %>
<input type="hidden" name="trainer_id" value="<%= trainer.id %>">
<input type="hidden" name="trainer_email" value="<%= trainer.email %>">
<input type="hidden" name="selected_challenges" value="<%= @selected_challenges %>">
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Selected challenges: <%= params[:challenges].present? ? params[:challenges].count : 0 %>"
          data-amount="<%= (params[:challenges].present? ? Challenge.where(id: params[:challenges]).map{|challenge| challenge.price}.compact.inject(:+) : 0) * 100 %>"
          data-locale="auto">
  </script>
  <button type="submit" class="btn btn-primary" style="padding: 6px 8px; font-weight: 200; font-size: 15px;">Book me</button>
<% end %>
